.layout{
  display:flex;
  min-height:100vh;
  background:#f5f7fb;
}

.main{
  margin-left:250px;
  width:calc(100% - 250px);
  padding:25px;
}

.content{
  background:white;
  border-radius:18px;
  padding:24px;
  min-height:calc(100vh - 110px);
  box-shadow:0 10px 25px rgba(0,0,0,.06);
}

@media(max-width:900px){

.sidebar{
  width:80px;
}

.logo h2{
  display:none;
}

.nav-item span:last-child{
  display:none;
}

.main{
  margin-left:80px;
  width:calc(100% - 80px);
}

}